.masthead {
  background-image: url("images/background.png")
}
.masthead:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #ffffff, transparent);
  opacity: 1;
}

.masthead a, .masthead a:hover, .masthead a:active, .masthead a:visited {
  color: #333548;
}
.masthead .menu li a {
  background-color: rgba(49, 129, 189, 0.5);
}
.masthead .masthead-inner .menu > li > a {
  color: #fdfdfd;

}
.masthead-inner {
  position: relative;
}
.masthead-inner img {
  max-width: 8%;
}
.is-active {
  display: block;
}
.tabs-content {
  border: 0;
  background: #fafafa;
}
.genome-property>.children{
  margin: 5px;
  display: none;
}
.genome-property.expanded>.children{
  display: block;
}
ul.references {
  list-style: none outside none;
}
ul.references li {
  margin-left: 1em;
  text-indent: -1em;
}

ul.references li .authors {font-style: italic;}
ul.references li .title {font-weight: bold;}

.selected {text-shadow: yellow 1px 1px;}

.main_button {
  display:inline-block;
}
.tag {
  margin-left: 1.5em;
}

.search-match {
  background-color: yellow;
}
